* {
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
}

#nav {
    background-color: rgb(12, 12, 38);
    width: 100%;
    position: fixed;
    font-weight: 500;
    font-size: larger;

}


/* .nb {
    background-color: rgb(10, 10, 212);
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;

} */


img#logo {
    background-color: red;
    height: 3rem;
    margin-right: 1rem;
}

.nb a {
    color: black;
    font-weight: 600;
    text-decoration: none;
    font-size: 1.5em;
    margin: 1.7rem;
    padding: 10px;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(188, 159, 237);
}

#nav #navh {

    color: rgb(188, 159, 237);
}

#nav #navh:hover {
    color: rgb(255, 255, 255);
    transition-duration: 100ms;
}

.navbar-dark .navbar-nav .nav-link:hover {
    border: 0px;
    border-radius: 45%;

    background-color: rgb(135, 108, 108);
    color: rgb(255, 255, 255);

}

.main {
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 100%;
    width: 100%;
    flex: 1;
}

.home {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 34rem;
    font-weight: 700;
    font-size: 1.5rem;
}

.home p {
    width: 70%;
}

h1 {
    font-size: 4rem;
    margin-top: 5rem;
}

/* .home::before{
    content: "";
    position: absolute;
    background: url('bgm.jpeg') no-repeat center center/cover;
    width: 100%;
    height: 79%;
    z-index: -1;
    opacity: 0.5; 
} */
.home img {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 34rem;
    opacity: 0.5;
}

.ha {
    width: 100%;
    font-size: 3.5rem;
    margin: 3rem auto;
    margin-bottom: 6rem;
    text-align: center;
}

/* .mabout::before{
    content: "";
    position: absolute;
    background: url('bga.png') no-repeat center center/cover;
    width:100%;
    height: 100%;
    z-index: -2;
    opacity: 0.7;
} */
.mabout {
    height: 58rem;
}

.mabout .bg {
    position: absolute;
    width: 100%;
    height: 58rem;
    z-index: -1;
    opacity: 0.7;
}

.about {

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.food {
    font-size: 1.3rem;
    width: 30%;
    text-align: center;
    border: 1rem solid goldenrod;
}

.food h2 {
    font-size: 2rem;
}

.food img {
    width: 100%;
    height: 15rem;
}

.sponsors {
    height: 30rem;
    /* margin-top:4rem; */
}

#bgc {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 30rem;
    opacity: 0.5;
}

.sponsors h1 {

    text-align: center;
    margin: 2rem auto;
    color: rgb(114, 69, 9)
}

.sp {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;

}

.ele img {
    width: 80%;
    height: 10rem;
    margin: 1rem;
}

img.amazon {
    width: 80%;

}

img.insta {
    height: 10rem;
    width: 50%;
    margin: 3rem;
}

img.google {
    margin-right: 0;
}

.contact img {
    position: absolute;
    width: 100%;
    height: 57rem;
    flex: 1;
    z-index: -1;
    opacity: 0.5;
}

.form {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    height: 40rem;
    font-weight: 700;
    /* margin:0 50rem; */
}

.contact h1 {
    text-align: center;
    margin-bottom: 2rem;
}

.form div {
    margin: 1rem auto;
}

.form input,
.form textarea {
    font-size: 1.5rem;

    width: 100%;
}

.form textarea {

    height: 8em;
}

label.mess {
    vertical-align: top;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;

    margin: 0;
}

#submit {
    border: 3px solid black;
    background-color: aqua;
    color: black;
    font-weight: 700;
    padding: 10px;
    font-size: 20px;
    border-radius: 20%;
}

#submit:hover {
    cursor: pointer;
    background-color: blue;
    color: bisque;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 3rem;
}

@media only screen and (max-width:768px) {

    li:nth-child(1) {
        width: 2.7rem;

    }

    li:nth-child(2) {
        width: 4rem;

    }

    li:nth-child(3) {
        width: 4rem;

    }

    li:nth-child(4) {
        width: 4.8rem;

    }

    #nav {

        position: fixed;
    }

    /* .nb {
        flex-direction: column;
        height:17rem;
    }

    .nb span {
        margin: 0.3rem;
    }

    .nb img {
        margin-right: 0;
    } */

    .home {
        margin-top: 0rem;
    }

    .mabout {
        height: 130rem;
    }

    .mabout .bg {
        height: 130rem;
    }

    .about {
        flex-direction: column;

    }

    .food {
        width: 70%;
        margin: 3rem;
    }


    .food h2 {
        font-size: 2rem;
    }

    .food img {
        width: 100%;
        height: 15rem;
    }

    .sponsors {
        height: 75rem;
    }

    #bgc {
        height: 75rem;
    }

    .sp {
        /* display:flex; */
        flex-direction: column;
    }

    img.amazon {
        margin-top: 20%;
        margin-left: 27%;

        width: 44%;

    }

    img.insta {
        width: auto;
        margin-left: 12%;
    }
}

@media only screen and (max-width:530px) {

    .food {
        width: 90%;
        margin: 3rem;
    }

}
